.krimi-wrapper
{
    display:block;
}
.Linked_data_button
    {
        cursor: pointer !important;
        display: inline-block;
       
        height: 100px;
        width: 20%;
        
        margin: 5px;
        padding:5px;
        overflow:hidden;
        text-align: center;
    }   
    .oc-krimi-menu a 
    {
        cursor: pointer !important;
    }
    .oc-krimi-menu{
        margin-bottom: 5px;
    }
    
    .krimi-cover-image
    {
        display:inline-block;
        margin-right: 5px;

    }
    .krimi-cover-image img , #krimi-dialog img
    {
        width:200px;
        height: 200px;
        min-width:200px;
        min-height: 200px;
        max-width:200px;
        max-height: 200px;
        background-image: url(/sites/all/modules/custom/oc_krimi_siden/images/krimi-siden.logo.png);
        background-color: lightslategray;
        float:left;
        cursor: pointer !important;
    }
        .oc-krimi-genre-wrap img
    {
        width:100% !important;
        height: 90px !important;
        float:left;
    }
   /* .krimi-follow-similar-genre
    {
        //width: 32% !important;
        float:none;
    }
    .Linked_data_button .oc-krimi-main-wrap
    {
        
         
    }
    .oc-krimi-genre-wrap{
         height: 100px;
         text-align: center;
         display:inline-block;
         width: 100%;
         //border: 1px dotted black;
    }

    
    .Linked_data_button .oc-krimi-main-wrap img{
        width:50px;
        height: 50px;
        display:inline-block;
    }
    .oc_krimi_wrap{
        width:100%;
        display:inline-block;  
        padding-left: 10px;
    }

    .oc-krimi-menu
    {
        margin: 10px;
    }*/

/*
* easy paginate
*/
    /* Cosmetic only */
    #easyPaginate {width:300px;}
    #easyPaginate img {display:block;margin-bottom:10px;}
    .easyPaginateNav a {padding:5px;}
    .easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
/*
*
*/
.krimi-css-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
        height: 100%;
}
.krimi-css-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.krimi-css-btn:active {
	position:relative;
	top:1px;
}