    .Linked_data_button
    {
        cursor: pointer !important;
        padding:10px;
        display: inline-block;
        margin:5px;
        width: 20%;
        border: 1px dotted black;
        height: 100px;
    }
    .krimi-follow-similar-genre
    {
        //width: 32% !important;
        float:none;
    }
    .Linked_data_button .oc-krimi-main-wrap
    {
         height: 100px;
         max-height: 100px;
         text-align: center;
         display:inline-block;
         
    }
    .oc-krimi-genre-wrap{
         height: 100px;
         text-align: center;
         display:inline-block;
         width: 100%;
         //border: 1px dotted black;
    }
    .oc-krimi-genre-wrap img
    {
        width:100% !important;
        height: 50px !important;
        float:left;
    }
    .oc-krimi-menu a 
    {
        cursor: pointer !important;
    }
    .oc-krimi-menu{
        margin-bottom: 5px;
    }
    .Linked_data_button .oc-krimi-main-wrap img{
        width:50px;
        height: 50px;
        display:inline-block;
    }
    .oc_krimi_wrap{
        width:100%;
        display:inline-block;  
        padding-left: 10px;
    }
    .krimi-cover-image
    {
        display:inline-block;

    }
    .krimi-cover-image img
    {
        width:150px;
    }
    .oc-krimi-menu
    {
        margin: 10px;
    }

/*
* easy paginate
*/
    /* Cosmetic only */
    #easyPaginate {width:300px;}
    #easyPaginate img {display:block;margin-bottom:10px;}
    .easyPaginateNav a {padding:5px;}
    .easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}